<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="DatabaseUtility_OnTheGo.DatabaseUtility_OnTheGo" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="DatabaseUtility_OnTheGo"></application>
</manifest>